
/* Prestige button */
.reset {
	height: 75px;
	width: 250px;
	border-radius: 0%;
	border: 5px solid;
	border-color: rgba(0, 0, 0, 0.125);
}

.tabButton {
	background-color: transparent;
	color: var(--color);
	font-size: 20px;
	cursor: pointer;
	padding: 5px 20px;
	margin: 5px;
	border-radius: 10px;
	border: 2px solid;
	color: var(--color);

}

.tabButton:hover {
	transform: scale(1.1, 1.1);
	text-shadow: 0 0 7px var(--color);
}

.tooltip { 
    pointer-events: none;
    text-align: center;
    width: 150px;
    font-size: 16px;
    line-height: 1.2;
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    transform: translateX(-50%);
    padding: 7px;
    font-family: "Lucida Console", "Courier New", monospace;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.5s;
  
    position: absolute;
    z-index: 20000;
  
    background-color: var(--background_tooltip);
    color: var(--points);
    content: attr(tooltip);
    font-size:14px;

}

.tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;

    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--background_tooltip) transparent transparent transparent;
}

/* Horizontal/vertical lines */
.vl {
	border-left: 6px solid var(--color);
	height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 0
}

.hl {
	border-top: 3px solid var(--color);
}

/* primary icon sizing */

.primary_icon {
    width: 32px;
    height: 32px;
    vertical-align:top
}

/* neon pulse effect (thank keyframes) */

@keyframes neonPulse {
  0%, 100% {
    color: #00ff66;
    text-shadow: 0 0 5px #00ff66, 0 0 10px #00ff66;
  }
  50% {
    color: #00ff66;
    text-shadow: 0 0 20px #00ff66, 0 0 40px #00ff66, 0 0 60px #00ff66;
  }
}

.neon-text {
  animation: neonPulse 2s infinite;
  font-weight: bold;
}

.tinted-color {
  background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url('your-image.jpg');
  background-size: cover;
}